<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </button>

  <div *ngIf="role === 'Admin'">
    <button mat-button routerLink="/admin/orders" routerLinkActive="active">
      Užskaymai
    </button>
    <button mat-button routerLink="/admin/users" routerLinkActive="active">
      Vartotojai
    </button>
    <button mat-button routerLink="/admin/suppliers" routerLinkActive="active">
      Tiekėjai
    </button>
    <button mat-button routerLink="/admin/pharmacies" routerLinkActive="active">
      Vaistinės
    </button>
  </div>

  <div *ngIf="role === 'Pharmacy'">
    <button mat-button routerLink="/pharmacist/orders" routerLinkActive="active">
      Užsakymai
    </button>
    <button mat-button routerLink="/pharmacist/stock" routerLinkActive="active">
      Likučiai
    </button>
    <button mat-button routerLink="/pharmacist/analytics" routerLinkActive="active">
      Apyvarta
    </button>
    <button mat-button routerLink="/pharmacist/messages" routerLinkActive="active">
      Messages
    </button>
  </div>

  <div *ngIf="role === 'Transportation'">
    <button mat-button routerLink="/delivery-man/orders" routerLinkActive="active">
      Užsakymai
    </button>
  </div>

  <div *ngIf="role === 'Warehouse'">
    <button mat-button routerLink="/storeman/medicine-list" routerLinkActive="active">
      Vaistai
    </button>
    <button mat-button routerLink="/storeman/orders" routerLinkActive="active">
      Užsakymai
    </button>
    <button mat-button routerLink="/storeman/stock" routerLinkActive="active">
      Likučiai
    </button>
  </div>
  <span class="spacer"></span>
  <button (click)="logout()" mat-icon-button routerLink="/" routerLinkActive="active">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
