<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </button>

  <div *ngIf="role === 'Admin'">
    <button mat-button routerLink="/admin/orders" routerLinkActive="active">
      Orders
    </button>
    <button mat-button routerLink="/admin/users" routerLinkActive="active">
      Users
    </button>
    <button mat-button routerLink="/admin/suppliers" routerLinkActive="active">
      Suppliers
    </button>
    <button mat-button routerLink="/admin/pharmacies" routerLinkActive="active">
      Pharmacies
    </button>
  </div>

  <div *ngIf="role === 'Pharmacy'">
    <button
      mat-button
      routerLink="/pharmacist/orders"
      routerLinkActive="active"
    >
      Orders
    </button>
    <button mat-button routerLink="/pharmacist/stock" routerLinkActive="active">
      Stock
    </button>
    <button
      mat-button
      routerLink="/pharmacist/analytics"
      routerLinkActive="active"
    >
      Apyvarta
    </button>
  </div>

  <div *ngIf="role === 'Transportation'">
    <button
      mat-button
      routerLink="/delivery-man/orders"
      routerLinkActive="active"
    >
      Orders
    </button>
  </div>

  <div *ngIf="role === 'Warehouse'">
    <button
      mat-button
      routerLink="/storeman/medicine-list"
      routerLinkActive="active"
    >
      Medicaments
    </button>
    <button mat-button routerLink="/storeman/orders" routerLinkActive="active">
      Orders
    </button>
    <button mat-button routerLink="/storeman/stock" routerLinkActive="active">
      Stock
    </button>
  </div>
  <span class="spacer"></span>
  <button
    (click)="logout()"
    mat-icon-button
    routerLink="/"
    routerLinkActive="active"
  >
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
