/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fafafa;

  .display-card {
    margin: 100px 10% 0 10%;
    border: 1px solid #e2e2e2;
  }
}
